@media screen and (max-width: 768px) {
  .introduction {
    align-items: end;
    gap: 10px;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .step1 {
    grid-column: 1/4;
  }
  .path1 {
    grid-column: 2/5;
  }
  .path1 {
    transform: rotate(20deg) translateX(0);
  }
  .step2 {
    grid-column: 4/7;
  }
  .path2 {
    grid-column: 2/5;
  }
  .step3 {
    grid-column: 1/4;
  }
  .companylogo {
    width: 150px;
  }
  .skills {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 666px) {
  .path1,
  .path2 {
    grid-column: 2/5;
  }
  .step1,
  .step3 {
    grid-column: 1/7;
  }
  .step2 {
    grid-column: 1/6;
    text-align: right;
  }
  .step2 .companylogo {
    margin-left: auto;
  }
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }
  .route-grid {
    row-gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  aside {
    width: 75px;
  }
  aside .link-name {
    font-size: 10px;
  }
  aside ul {
    gap: 30px;
  }
  aside ul li {
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
  aside ul li a svg {
    font-size: 1.5rem;
  }
  .theme-toggle {
    margin: 0 auto;
  }
}
@media screen and (max-width: 440px) {
  .introduction {
    grid-template-columns: 1fr;
  }
  .profile_pic {
    max-width: 100%;
  }
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
  .step2 {
    grid-column: 1/7;
  }
  .path1 {
    transform: rotate(45deg);
  }
  .path2 {
    transform: rotateY(180deg) rotate(45deg);
  }
  .path1,
  .path2 {
    grid-column: 2/6;
  }
  .route-grid {
    row-gap: 40px;
  }
}
@media screen and (max-width: 320px) {
  p,
  a,
  ul,
  li,
  input,
  button,
  textarea,
  select,
  option {
    font-size: 0.9rem;
  }
}

/*  */
@media screen and (max-height: 350px) {
  aside ul li a svg,
  .theme-toggle svg {
    font-size: 1rem;
  }
  aside ul {
    gap: 10px;
  }
}
