* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Lexend";
  src: url(../font/Lexend.ttf);
}
:root {
  --primary: #008966;
  --secondary: #008699;
  --gradient-background: linear-gradient(150deg, var(--secondary), #000);
  --transition: all 0.5s linear;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: #eee;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
h1,
h2,
p,
a,
ul,
li,
input,
button,
textarea,
select,
option {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-family: "Lexend";
  font-size: 1rem;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
svg {
  font-size: 1rem;
}
a:hover {
  color: unset;
}
.button {
  padding: 10px;
  background: #000;
  border-radius: 5px;
  color: #fff;
}
.button:hover {
  color: #fff;
}
.button.active {
  background: #fff;
  color: #000;
}
.button.active:hover {
  color: #000;
}
.body {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
aside {
  width: 200px;
  height: 100vh;
  position: sticky;
  transition: var(--transition);
  top: 0;
  left: 0;
  background: #000;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 1px solid transparent;
}
aside ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}
aside ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
aside a,
aside svg,
aside a:hover,
aside svg:hover {
  color: #fff;
}
main {
  flex: 1;
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.theme-toggle {
  cursor: pointer;
  width: fit-content;
}
.theme-toggle svg {
  font-size: 1.5rem;
}
.introduction {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.profile_pic {
  border-radius: 50%;
  overflow: hidden;
  max-width: 200px;
}
.pad10 {
  padding-top: 10px;
}
.gradient-background {
  background: var(--gradient-background);
}
.pill {
  padding: 10px;
  display: inline-block;
  width: fit-content;
  border-radius: 5px;
}
.pill p {
  color: #fff !important;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background: #000;
}
.project p,
.project svg {
  color: #fff !important;
}
.project.active {
  background: #fff;
}
.project.active svg,
.project.active p {
  color: #000 !important;
}
.route-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: space-between;
}
.route-grid img {
  height: 100%;
}
.route-grid p {
  text-transform: capitalize;
}
.companylogo {
  width: 150px;
  display: block;
}
.companylogo img {
  height: 100%;
}
.path1 {
  grid-column: 2/4;
  grid-row: 2/3;
  transform: rotate(15deg);
}
.path2 {
  grid-column: 3/5;
  grid-row: 4/5;
  transform: rotateY(180deg) rotate(15deg);
}
.step1 {
  grid-column: 1/3;
}
.step2 {
  grid-column: 4/6;
  grid-row: 3/4;
}
.step3 {
  grid-column: 2/4;
  grid-row: 5/6;
}
.dropshadow {
  filter: drop-shadow(1px 1px 1px #535353);
}
.skills {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  text-align: center;
  row-gap: 40px;
}
.skills svg {
  font-size: 3rem;
}
.skills > div {
  position: relative;
  transition: var(--transition);
}
.skills > div::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #000;
  transition: var(--transition);
  text-transform: capitalize;
  opacity: 0;
}
.html::before {
  content: "HTML";
}
.css::before {
  content: "CSS";
}
.sass::before {
  content: "SASS";
}
.bootstrap::before {
  content: "Bootstrap";
}
.javascript::before {
  content: "javaScript";
}
.react::before {
  content: "react JS";
}
.node::before {
  content: "node JS";
}
.express::before {
  content: "express JS";
}
.mongodb::before {
  content: "mongoDB";
}
.git::before {
  content: "git";
}
.github::before {
  content: "github";
}
.postman::before {
  content: "postman";
}
.skills > div:hover::before {
  transform: translate(-50%, 75%);
  opacity: 1;
}
.html:hover,
.git:hover,
.postman:hover {
  color: #e34c26 !important;
}
.css:hover {
  color: #2965f1 !important;
}
.sass:hover {
  color: #cd679a !important;
}
.bootstrap:hover {
  color: #563d7c !important;
}
.javascript:hover {
  color: #f7df1e !important;
}
.react:hover {
  color: #88dded !important;
}
.node:hover,
.mongodb:hover {
  color: #3c873a !important;
}

.skills2 .html,
.skills2 .css,
.skills2 .sass,
.skills2 .bootstrap,
.skills2 .javascript,
.skills2 .react,
.skills2 .node,
.skills2 .express,
.skills2 .mongodb,
.skills2 .git,
.skills2 .github,
.skills2 .postman {
  color: #fff;
}
.skills2 > div::before {
  color: #fff;
}
